.view {
  font-size: 20px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url('../assests/select.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.select_done {
  background-image: url('../assests/select2.svg');
}

.text {
  color: #333333;
  width: calc(100% - 50px);
}

.text_done {
  font-style: italic;
  text-decoration: line-through;
  color: #cccccc;
}

.delete {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url('../assests/delete.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
